/*
    Color Pallette: #fafafa (white)
                    #5298b9 (blue)
                    #3a3a3a (black)
*/

.topnav {
    background-color: #3a3a3a;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 15px 0px;
}
.topnav a {
    color: #fafafa;
    font-size: 150%;
    text-decoration: none;
    padding: 0 15px;
}
.topnav a:hover, 
.topnav a:focus {
    color: #5298b9;
    text-decoration: underline;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fafafa;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, p {
    color: #3a3a3a;
}
label {
    user-select: none;
}
/*
===============================
Simulation information elements
===============================
*/
.simulation_info {
    width: 75ch;
}
.simulation_info h1 {
    margin-bottom: 5px;
}
.simulation_info p {
    margin-top: 5px;
    text-indent: 6ch;
    text-align: justify;
}
.simulation_info img {
    align-self: center;
}

/*
===============================
Simulation interaction elements
===============================
*/
.simulation_space {
    background-color: #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 5px 0px;
    width: 100%;
}

.sim_buttons_container {
    padding: 5px;
    background-color: #fafafa;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height:fit-content;
}
.sim_buttons_container .input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 0px;
    height: 100%;
}
.sim_buttons_container .input_container label {
    width: min-content;
}
    /* ========= buttons ========== */
.sim_buttons_container button {
    background-color: #5298b9;
    border-color: #5298b9;
    color: #fafafa;
    padding: 5px 8px;
    margin: 3px;
    border-radius: 4px;
}
.sim_buttons_container button:hover, 
.sim_buttons_container button:focus {
    outline: none;
    color: #3a3a3a;
}

    /* ========= sliders ========== */
.sim_buttons_container .slider {
    appearance: none;
    margin: 3px;
    padding: 2px 0px;
    border-radius: 4px;
    width: 125px;
    height: 4px;
    position: relative;
    bottom: 6px;
    cursor: grab;
}
.sim_buttons_container .slider:active {
    cursor: grabbing;
}
.sim_buttons_container .slider:hover,
.sim_buttons_container .slider:focus {
    outline: none;
}
.sim_buttons_container .slider::before {
    content: attr(min);
    color: #3a3a3a;
    font-size: small;
    position: absolute;
    left: 0%;
    top: 12px;
}
.sim_buttons_container .slider::after {
    content: attr(max);
    color: #3a3a3a;
    font-size: small;
    position: absolute;
    right: 0%;
    top: 12px; 
}
.sim_buttons_container .slider::-webkit-slider-runnable-track {
    appearance: none;
    border-radius: 5px;
}
.sim_buttons_container .slider::-webkit-slider-thumb {
    appearance: none;
    background-color: #5298b9;
    border-style: solid;
    border-color: #fafafa;
    border-width: 2px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.sim_buttons_container .slider:hover::-webkit-slider-thumb,
.sim_buttons_container .slider:focus::-webkit-slider-thumb {
    outline: none;
    border-color: #3a3a3a;
}
    /* ========== toggle (checkbox) ============= */
.sim_buttons_container .toggle {
    appearance: none;
    position: relative;
    top: 1px;
    margin: 5px;
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: #5298b9;
    width: 16px;
    height: 16px;
    background-color: #fafafa;
    cursor: pointer;
}
.sim_buttons_container .toggle:checked {
    content: url(checkmark.png);
}
.sim_buttons_container .toggle:hover,
.sim_buttons_container .toggle:focus {
    outline: none;
    border-color: #3a3a3a;
}

    /* =========== color =============== */
.sim_buttons_container .color {
    background-color: #fafafa;
    border: none;
    padding: 2px;
    width: 35px;
    height: 20px;
}
.sim_buttons_container input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.sim_buttons_container input[type="color" i]::-webkit-color-swatch {
    border: none;
}
.sim_buttons_container .color:focus,
.sim_buttons_container .color:hover {
    outline: none;
    background-color: #3a3a3a;
}

/*
======================================================
================= Media Queries ======================
======================================================
*/

@media screen and (max-width:1059px) {
    .simulation_space {
        flex-wrap: wrap;
        width:min-content;
    }
}