/*
    Color Pallette: #fafafa (white)
                    #5298b9 (blue)
                    #3a3a3a (black)
*/

.topnav {
    background-color: #3a3a3a;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 15px 0px;
}
.topnav a {
    color: #fafafa;
    font-size: 150%;
    text-decoration: none;
    padding: 0 15px;
}
.topnav a:hover, 
.topnav a:focus {
    /*color: #5298b9;*/
    text-decoration: underline;
    outline: none;
}

/*
==============================
===== Simulation Gallery =====
==============================
*/
.gallery {
    background: #fafafa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    width: min-content * 2;
    height: 100%;
}
.gallery figure {
    background: #3a3a3a;
    border: 2px solid #fafafa;
    padding-bottom: 5px;
}
.gallery figure img {
    width: 256px;
    height: 194px;
    color: #fafafa;
}
.gallery figure figcaption {
    color:#fafafa;
    text-align: center;
}
.gallery figure:hover,
.gallery figure:focus {
    border: 2px solid #5298b9;
    color: #5298b9;
}
.gallery figure a {
    text-decoration: none;
}

/*
====================
Text Standardization
====================
*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fafafa;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, h5, h6, p {
    color: #3a3a3a;
}
label {
    user-select: none;
}
/*
===============================
Simulation information elements
===============================
*/
.simulation_info {
    width: 75ch;
}
.simulation_info h1 {
    margin-bottom: 5px;
    position: relative;
    right: 2ch;
}
.simulation_info p {
    margin-top: 5px;
    /*text-indent: 6ch;*/
    text-align: justify;
    line-height: 2em;
}
.simulation_info var {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
}
.simulation_info var.eq::before{
    content: "";
    white-space: pre;
}
.simulation_info var.eq::after{
    content: "";
    white-space: pre;
}
.simulation_info var.eq {
    text-align: center;
}
.simulation_info img {
    align-self: center;
}

/*
====================================
Stuff that goes above the simulation
===================================
(usage and contents)
*/
.page_info {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    width: 100%;
}
.usage_video {
    margin: 5px;
    border: #3a3a3a solid;
    width: 560px; 
    height: 315px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3a3a3a;
    color: #fafafa;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 120%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3a3a3a transparent transparent transparent;
  }
/*
=================
Table of contents
=================
*/
.table_of_contents {
    border: 1px #3a3a3a solid;
    margin: 5px;
    padding: 0px 15px;
    width: max-content;
    height: fit-content;
}
.table_of_contents p {
    font-weight: bold;
    font-size: large;
    align-self: center;
    text-align: center;
    margin-bottom: 5px;
}
.table_of_contents ol {
    margin-top: 0;
}
.table_of_contents a {
    color:#3a3a3a;
    margin-right: 2em;
}
.table_of_contents a:hover {
    cursor: pointer;
}

/*
===============================
Simulation interaction elements
===============================
*/
.simulation_space {
    background-color: #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 5px 0px;
    width: 100%;
}

.sim_buttons_container {
    padding: 5px;
    background-color: #fafafa;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height:fit-content;
}
.sim_buttons_container .input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 0px;
    height: 100%;
}
.sim_buttons_container .input_container label {
    width: min-content;
}
    /* ========= buttons ========== */
.sim_buttons_container button {
    background-color: #5298b9;
    border-color: #5298b9;
    color: #fafafa;
    padding: 5px 8px;
    margin: 3px;
    border-radius: 4px;
}
.sim_buttons_container button:hover, 
.sim_buttons_container button:focus {
    outline: none;
    color: #3a3a3a;
}

    /* ========= sliders ========== */
.sim_buttons_container .slider {
    appearance: none;
    margin: 3px;
    padding: 2px 0px;
    border-radius: 4px;
    width: 125px;
    height: 4px;
    position: relative;
    bottom: 6px;
    cursor: grab;
}
.sim_buttons_container .slider:active {
    cursor: grabbing;
}
.sim_buttons_container .slider:hover,
.sim_buttons_container .slider:focus {
    outline: none;
}
.sim_buttons_container .slider::before {
    content: attr(min);
    color: #3a3a3a;
    font-size: small;
    position: absolute;
    left: 0%;
    top: 12px;
}
.sim_buttons_container .slider::after {
    content: attr(max);
    color: #3a3a3a;
    font-size: small;
    position: absolute;
    right: 0%;
    top: 12px; 
}
.sim_buttons_container .slider::-webkit-slider-runnable-track {
    appearance: none;
    border-radius: 5px;
}
.sim_buttons_container .slider::-webkit-slider-thumb {
    appearance: none;
    background-color: #5298b9;
    border-style: solid;
    border-color: #fafafa;
    border-width: 2px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.sim_buttons_container .slider:hover::-webkit-slider-thumb,
.sim_buttons_container .slider:focus::-webkit-slider-thumb {
    outline: none;
    border-color: #3a3a3a;
}
    /* ========== toggle (checkbox) ============= */
.sim_buttons_container .toggle {
    appearance: none;
    position: relative;
    top: 1px;
    margin: 5px;
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: #5298b9;
    width: 16px;
    height: 16px;
    background-color: #fafafa;
    cursor: pointer;
}
.sim_buttons_container .toggle:checked {
    content: url(checkmark.png);
}
.sim_buttons_container .toggle:hover,
.sim_buttons_container .toggle:focus {
    outline: none;
    border-color: #3a3a3a;
}

    /* =========== color =============== */
.sim_buttons_container .color {
    background-color: #fafafa;
    border: none;
    padding: 2px;
    width: 35px;
    height: 20px;
}
.sim_buttons_container input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.sim_buttons_container input[type="color" i]::-webkit-color-swatch {
    border: none;
}
.sim_buttons_container .color:focus,
.sim_buttons_container .color:hover {
    outline: none;
    background-color: #3a3a3a;
}

/*
======================================================
================= Media Queries ======================
======================================================
*/

@media screen and (max-width:1059px) {
    .simulation_space {
        flex-wrap: wrap;
        width:min-content;
    }
}